/*comm*/
*{margin:0;padding:0;}
html,body{width:100%;height:100%;font-size:14px;font-family:'微软雅黑'}
input,select,textarea{outline:none;}
html,body{width:100%;}

/*--------*/
.normal{z-index:10;position:relative;width:100%;}
.main_body{padding-left:30px;}
.autoH:after{content:"";display:block;clear:both;}

/**/
.main_title{width:100px;line-height:2rem;padding-left:30px;color:#fff;background:#2e6fb1 url(../images/close2.png) no-repeat 110px center;background-size:8%;}
.nav_title{line-height:56px;border-bottom:1px dashed #ccc;}
.nav_title *{float:left;}
.nav_title .jiantou{display:inline-block;width:46px;height:56px;background:url(../images/next.png) no-repeat center;}
.color_909090{color:#909090;}
.color_0e6fb6{color:#0e6fb6;}
.content{padding-top:35px;width:100%;font-size:12px;color:#666;}
.options{width:88%;margin:0 auto;}
.o_btns{width:100%;}
.content .options>div{display:inline-block;margin:0 1%;}
.o_btns>input{line-height:2rem;color:#fff;text-align:center;border:none;float:right;margin-right:10px;}
.c_main{width:98%;margin:30px auto;}
table{width:100%;border-right:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;text-align:center;}
tr.thead{background:#f5f5f5;color:#999999;}
td{line-height:2.5rem;border-left:1px solid #dcdcdc;border-top:1px solid #dcdcdc;}
.col_5{width:5%;}
.col_10{width:10%;}
.col_12{width:12%;}
.col_20{width:20%;}
.col_5 input{position:absolute;z-index:0;left:-20px;top:-20px;}
.col_5 label{background:url(../images/unchecked.png);z-index:1;width:15px;height:15px;background-position:0 0;line-height:200em;overflow:hidden;cursor:pointer;display:inline-block;}
.col_5 .checked{background:url(../images/checked.png);}
.edit,.delete{display:inline-block;width:20px;height:20px;vertical-align:middle;}
.edit{background:url(../images/edit.png) no-repeat center;}
.delete{background:url(../images/delete.png) no-repeat center;}

/*分页开始*/
.pagination{display:inline-block;padding-left:0;margin:20px 0;border-radius:4px;}
.pagination>li{display:inline-block;margin:3px;}
.pagination>li>span,.pagination>li>input{position:relative;font-size:12px;margin-left:-1px;color:#989898;background-color:#fff;border:1px solid #ddd;border-radius:3px;display:inline-block;line-height:2rem;text-align:center;}
.pagination>li>span:not(.prev):not(.next){width:2rem;}
.pagination>li>span.curr{background-color:#2d6cac;color:#fff;}
.pagination>li>.prev,.pagination>li>.next{width:5rem;}
.pagination>li>input{width:3rem;}
.pagination>li>.page{border-bottom-right-radius:0px;border-top-right-radius:0px;}
.Page.navigation{float:right;}

/*遮罩层开始*/
.shade{    /*display: none;*/
z-index:99;position:absolute;top:0px;width:100%;height:100%;background:rgba(12,11,11,0.99);opacity:0.5;}
.shade_main.rows{    /*display: none;*/
background:#fff;opacity:1;width:700px;color:#333;z-index:100;position:absolute;left:50%;margin-left:-350px;top:50%;margin-top:-270px;padding-bottom:30px;}
.shade_title{padding:15px 0px;margin:0px 15px;text-indent:40px;border-bottom:1px dotted #d4d4d4;}
form{width:470px;padding:0 5px;margin:0 auto;}
form{line-height:1.5rem;}
form input:not([type="checkbox"]),form select{width:78%;height:2rem;border:1px solid #d4d4d4;color:#666;text-indent:12px;}
form input:focus,form select:focus{border:1px solid #0e6fb6;}
form div{margin:12px 0;}
form div:after{content:"";display:block;clear:both}
form div:not(.checkboxs) label,.checkboxs>label{width:19%;line-height:2rem;display:inline-block;}
form div span{width:78%;height:100%;}
.checkboxs{position:relative;}
.checkboxs>label{position:absolute;}
.checkboxs>ul{display:inline-block;width:78%;border:1px solid #d4d4d4;padding:5px 0px;margin-left:20%;}
.checkboxs>ul label{margin-left:7px;}
.shade_content li{list-style:none;display:inline-block;margin-left:6%;line-height:2rem;width:90px;}
form .btns{width:90%;margin:0 auto;}
.rows form input.save,.rows form input.cancel,.o_btns>div{display:inline-block;width:130px;color:white;border:none;margin-left:14%;text-align:center;text-indent:0px;}
input.save,.deleteMany{background-color:#2e6fb1;cursor: pointer}
input.cancel,.add{background-color:#eb3223;cursor: pointer}
.hide{display:none;}
.show{display:block;}